DB_URL=jdbc:postgresql://localhost:5432/pos_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=0123456789012345678901234567890101234567890123456789012345678901
POSTGRES_DB=pos_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SERVER_PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=postgres
ADMIN_ROLE=ADMIN
